 .form-div{
   margin-top: 100px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-style: cursive;
 }
    /*
    margin:100px;
    display: flex; */
    /* background-color: antiquewhite; */
    /* justify-content: center; 
    border: 2px solid gray;
    height: 800px;
    width: 900px;
    
} */

form { 
    margin: 0 auto; 
    width:550px;
    border: 2px solid gray;
    }
label {
    width:180px;
    clear:left;
    text-align:right;
    padding-left:40px;
    margin-top: 10px;
    margin-right:20px;
    
    
}

/* input, label {
    float:left;
} */

input{
    width: 300px;
    height: 30px;
   
  
}
#reserve-submit{
    text-align: center;
    width: 400px;
}

#text-area{
    height: 100px;
    
}
/* input, label {
    float:left;
} */

